<!DOCTYPE html>

<html lang="en">
  <head>
    <title>URL Shortener Microservice </title>
    <link
      rel="icon"
      type="image/png"
      href="/public/logo.png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <header>
      <h1>URL Shortener Microservice</h1>
      <p>
        Enter a URL to shorten it and get a JSON response with the original URL
        and the shortened URL.
      </p>
      <p>Example: POST [project_url]/api/shorturl - https://www.google.com</p>
    </header>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input
              id="url_input"
              type="text"
              name="url"
              placeholder="https://www.freecodecamp.org/"
            />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
      <section>
        <h2>Example Usage</h2>
        <p>
          <a href="./api/shorturl/1"><code>[project_url]/api/shorturl/1</code></a>
        </p>
        <h2>Will Redirect To</h2>
        <p>https://www.freecodecamp.org/</p>
      </section>
    </main>
    <footer>
      <p>
        By
        <a href="https://www.linkedin.com/in/bryan-timah-8737761ba/"
          >Bryan Timah</a
        >
      </p>
    </footer>
  </body>
</html>
